// ================= COLORS =================

$black: #0b0d0b;

$primary-text: #c1bfb6;
$secondary-text: #c1ac9b;
$tertiary-text: #cbc7b7;

// $about-bg: #5f5f5f;
$about-bg: #2f2f2f;
$navbar-bg: #5a4c15;

$heading-color: #cf9d7b;

// ================= FONTS =================

$font-primary: var(--font-primary);
$font-accent: var(--font-accent);

// ================= FONT SIZES =================

$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 20px;
$fs-xl: 42px;
$fs-xxl: 72px;

// ================= SPACING =================

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 100px;

// ================= BORDER =================

$radius: 20px;

// ================= CONTAINER =================

$container-width: 1400px;